@import './base.css';



body{
  background-color: #24527a;
  color: white;
}

.header{
  padding : 20px;
  text-align: center;
}

.footer{
  padding : 20px;
  text-align: center;
  /*position: fixed;
  left: 0;
  bottom: 0;*/
  width: 100%;
}
nav.naviguation_principale
{
  width: 90%;
  margin: 10px auto;
  background-color: #1c4362;
  padding: 15px 10px;
  border-radius: 10px;
}

ul{
  list-style-type: none;
}

.button-inscription {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-inscription:hover {
  background-color: #24527a; /* Couleur légèrement plus foncée au survol */
}

.link{
  color: red;
}

.myCalendarCustom{
  background-color: blueviolet;
  width: 90%;
  margin: 20px auto;
  padding: 20px 10px;
}


.btn{
  margin: 0px 10px;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  border-radius: 2px;
}

/* css event form */

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
